<body id="login-page">

    <div class="form-box">
        <div class="form-logo">
            <p class="text-center"><%= image_tag "logo.png" %></p>
        </div>
        <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>

            <%= hidden_field_tag :email, @user.email %>

            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password_Confirmation" %>

            <%= f.submit ("Update"), class: "btn btn-social" %>
        <% end %>
    </div><!--Close form-box-->
</body>
